<li id="comment-<%= comment._id %>">
	<p>
		<% if((locals.user) && (locals.user.id == comment.user.id)){ %>
		<small>
			<a
				class="delete-comment-button"
				href="/comments/delete/<%= comment._id %>"
				>DELETE</a
			>
		</small>
		<% } %> <%= comment.content %>
		<br />
		<small> <%= comment.user.name %> </small>
	</p>
</li>
