<footer>
	<p>
		Made with <strong>&#10084;</strong> in <b>INDIA</b> by
		<b>AYUSH KANDURI</b>
	</p>
	<div class="links">
		<a id="contact" href="/contact">Contact Us</a> &nbsp;|&nbsp;
		<a id="contact" href="/about">About Us</a>
	</div>
</footer>
