<footer>
	<p>
		<a
			href="https://www.flaticon.com/free-icons/instagram-verified"
			title="instagram verified icons"
			style="text-decoration: none; color: rgb(0, 87, 109)"
		>
			Instagram verified icons created by Freepik - Flaticon
		</a>
		|| "Icon made by
		<a href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a>
		from <a href="https://www.flaticon.com/">www.flaticon.com</a>"
	</p>
	<p>
		Made with <strong>&#10084;</strong> in <b>INDIA</b> by
		<b>AYUSH KANDURI</b>
	</p>
	<div class="links">
		<a id="contact" href="/contact">Contact Us</a> &nbsp;|&nbsp;
		<a id="contact" href="/about">About Us</a>
	</div>
</footer>
