<header>
	<h1 id="logo" onclick="window.location='/';">
		The Social Book &nbsp; <i class="fa-solid fa-message"></i>
	</h1>
	<nav class="big-navbar-links">
		<ul>
			<li>
				<% if(locals.user){%>
				<button
					class="btn-grad"
					onclick="window.location='/users/profile';"
				>
					<%= user.name%>'s Profile
				</button>
				<% }else{%>
				<button class="btn-grad" onclick="window.location='/users/signup';">
					Sign Up
				</button>
				<% }%>
			</li>
			<li>
				<% if(locals.user){%>
				<button class="btn-grad" onclick="window.location='/users/logout';">
					Log Out
				</button>
				<% }else{%>
				<button class="btn-grad" onclick="window.location='/users/login';">
					Log In
				</button>
				<% }%>
			</li>
		</ul>
	</nav>
</header>
