<link rel="stylesheet" href="/css/about.css" />
<script defer src="/js/profile.js"></script>

<div class="about-container">
	<h2><%= title %></h2>
	<section>
		<div class="image">
			<img src="/images/coffee.jpg" alt="coffee image" />
		</div>
		<div class="info">
			<p>
				Welcome to <strong>The Social Book</strong>, your number one source
				of Social Media Website. We're dedicated in providing you the very
				best of <strong>Content Creation & Sharing Experience</strong>, with
				an emphasis on Best <strong>Networking Experience</strong> by
				providing you a <strong>Community</strong> that cares for you.
				<br />
				<br />
				Founded in <strong>2010</strong> by <strong>Ayush Kanduri</strong>,
				The Social Book has come a long way from its beginnings in a Small
				Village of <strong>Sedona</strong>. When our team first started out,
				their passion for a <strong>Strong Community</strong> with the
				<strong>Best Networking Experience</strong> drove them to start
				their own business.
				<br />
				<br />
				<!-- <br /> -->
				We hope you enjoy our product as much as we enjoy offering it to
				you. If you have any questions or comments, please don't hesitate to
				contact us.
				<!-- <br /> -->
				<br />
				<br />
				Sincerely,
				<br />
				<strong>Ayush Kanduri</strong><br />
				<strong>Founder, CEO</strong><br />
			</p>
		</div>
	</section>
</div>
