<link rel="stylesheet" href="<%= assetPath('css/contact.css') %>" />
<script defer src="<%= assetPath('js/profile.js') %>"></script>

<div class="contact-container">
	<h2><%= title %></h2>
	<h2>Get In Touch</h2>
	<section>
		<table>
			<tr>
				<th colspan="1" style="text-align: end">Address:&emsp;</th>
				<td>
					<p>
						Alpino Vines Cross Street, <br />
						Dexter Laboratories, <br />
						Metro Park, <br />
						California - 1221109, <br />
						USA
					</p>
				</td>
			</tr>
			<tr>
				<th colspan="1" style="text-align: end">Telephone:&emsp;</th>
				<td>
					<a href="tel:12345-86770-156723-4567567"
						>12345-86770-156723-4567567</a
					>
				</td>
			</tr>
			<tr>
				<th colspan="1" style="text-align: end">Email:&emsp;</th>
				<td>
					<a href="mailto:dummy_info@thesocialbook.com"
						>dummy_info@thesocialbook.com</a
					>
				</td>
			</tr>
		</table>
		<div id="map">
			<iframe
				style="border: 0"
				loading="lazy"
				allowfullscreen
				src="https://www.google.com/maps/embed/v1/view?zoom=6&center=36.7783%2C-119.4179&key=<%= api_key %>"
			></iframe>
		</div>
	</section>
</div>
