<link rel="stylesheet" href="/css/forgot_password.css" />

<div class="container">
	<i class="fa-solid fa-lock"></i>
	<br />
	<p>Trouble Logging In?</p>
	<br />
	<p>
		Enter your email and we'll send you a link to get back into your account.
	</p>
	<br />
	<form action="/forgot_password/check-user" method="post">
		<input type="email" name="email" required />
		<input type="submit" value="Send Login Link" />
	</form>
</div>
