<script defer src="/js/home.js"></script>
<h3><%= title%></h3>

<section class="feed-posts">
	<h4>Posts</h4>
	<form action="/posts/create" id="new-post-form" method="post">
		<textarea
			name="content"
			cols="30"
			rows="3"
			placeholder="Type Here..."
		></textarea>
		<input type="submit" value="Post" />
	</form>
</section>
