<link rel="stylesheet" href="<%= assetPath('css/reset_password.css') %>" />
<script defer src="<%= assetPath('js/reset_password.js') %>"></script>

<div class="container">
	<i class="fa-solid fa-key"></i>
	<br />
	<p><%= locals.title %></p>
	<br />
	<br />
	<% if(isValid){ %>
	<form action="/reset_password/update-password" method="post">
		<input type="hidden" name="token" value="<%= locals.accessToken %>" />
		<div class="password">
			<input
				type="password"
				name="password"
				placeholder="New Password"
				min="6"
				minlength="6"
				required
			/>
			<button>
				<i class="fa-solid fa-eye-slash" style="cursor: pointer"></i>
				<i
					class="fa-solid fa-eye"
					style="display: none; cursor: pointer"
				></i>
			</button>
		</div>
		<div class="password">
			<input
				type="password"
				name="confirm_password"
				placeholder="Confirm Password"
				minlength="6"
				min="6"
				required
			/>
			<button>
				<i class="fa-solid fa-eye-slash" style="cursor: pointer"></i>
				<i
					class="fa-solid fa-eye"
					style="display: none; cursor: pointer"
				></i>
			</button>
		</div>
		<p id="match" style="font-weight: 500"></p>
		<input type="submit" value="Reset Password" id="submit" />
	</form>
	<% }else{ %>
	<h2>Access Token Expired!</h2>
	<% } %>
</div>
