<link rel="stylesheet" href="/css/user_profile.css" />
<script defer src="/js/user_profile.js"></script>
<h3><%= title%></h3>

<div id="details">
	<p><span>Name</span>: <%= user.name%></p>
	<p><span>Email</span>: <%= user.email%></p>
	<!-- <button class="btn-grad" onclick="window.location='/users/login';">
		Log Out
	</button> -->
    <button class="btn-grad"">
		Log Out
	</button>
</div>
