<link rel="stylesheet" href="/css/user_sign_up.css" />
<h3>Sign Up</h3>

<form action="/users/create-user" method="post">
	<input type="text" name="name" placeholder="Enter Name" required />
	<input type="email" name="email" placeholder="Enter Email" required />
	<input
		type="password"
		name="password"
		placeholder="Enter Password"
		required
	/>
	<input
		type="password"
		name="confirm_password"
		placeholder="Confirm Password"
		required
	/>
	<input type="submit" value="Sign Up" />
</form>
