<link rel="stylesheet" href="<%= assetPath('css/user_sign_up.css') %>" />
<script defer src="<%= assetPath('js/frontend_form_validation.js') %>"></script>

<div class="form-container">
	<h3 class="form-heading"><%= title %></h3>
	<form id="signup" action="/users/create-user" method="post">
		<div class="input-box">
			<input
				type="text"
				name="name"
				placeholder=" "
				autocomplete="off"
				class="input"
				required
			/>
			<label for="" class="label">
				<span> Enter Name </span>
			</label>
		</div>
		<div class="input-box">
			<input
				type="email"
				name="email"
				autocomplete="off"
				placeholder=" "
				required
				class="input"
			/>
			<label for="" class="label"><span> Enter Email </span></label>
		</div>
		<div class="input-box">
			<input
				type="password"
				name="password"
				autocomplete="off"
				placeholder=" "
				class="input"
				required
			/>
			<label for="" class="label"><span> Enter Password </span></label>
		</div>
		<div class="input-box">
			<input
				type="password"
				name="confirm_password"
				autocomplete="off"
				placeholder=" "
				class="input"
				required
			/>
			<label for="" class="label"><span> Confirm Password </span></label>
		</div>
		<div class="input-box btn">
			<button class="btn-grad" type="submit">Submit</button>
		</div>
	</form>
	<a href="/users/auth/google" class="google-login">
		<img
			src="<%= assetPath('images/google-logo.png') %>"
			alt="Sign in with Google"
		/>
		Continue With Google
	</a>
	<!-- <a href="/users/auth/facebook" class="facebook-login">
		<img src="/images/fb-logo.png" alt="Sign in with facebook" />
		Continue With Facebook
	</a> -->
</div>
