<link rel="stylesheet" href="/css/user_profile.css" />
<script defer src="/js/user_profile.js"></script>
<h3><%= title%></h3>

<p id="userName">Name: <%= user.name%></p>
<p id="userEmail">Email: <%= user.email%></p>
