<link rel="stylesheet" href="/css/user_profile.css" />
<script defer src="/js/user_profile.js"></script>
<h3><%= title%></h3>

<div id="details">
	<table>
		<tr>
			<th>
				<span>Name:</span>
			</th>
			<td><span>&nbsp;<%= profile_user.name%></span></td>
		</tr>
		<tr>
			<th>
				<span>Email:</span>
			</th>
			<td><span>&nbsp;<%= profile_user.email%></span></td>
		</tr>
		<tr>
			<td colspan="3">
				<button class="btn-grad" onclick="window.location='/';">
					Home Page
				</button>
			</td>
		</tr>
	</table>
</div>
