<div class="form-container">
	<h3 class="form-heading"><%= title %></h3>
	<form id="signup" action="/users/create-user" method="post">
		<div class="input-box">
			<input
				type="text"
				name="name"
				placeholder=" "
				autocomplete="off"
				class="input"
				required
			/>
			<label for="" class="label">
				<span> Enter Name </span>
			</label>
		</div>
		<div class="input-box">
			<input
				type="email"
				name="email"
				autocomplete="off"
				placeholder=" "
				required
				class="input"
			/>
			<label for="" class="label"><span> Enter Email </span></label>
		</div>
		<div class="input-box">
			<input
				type="password"
				name="password"
				autocomplete="off"
				placeholder=" "
				class="input"
				required
			/>
			<label for="" class="label"><span> Enter Password </span></label>
		</div>
		<div class="input-box">
			<input
				type="password"
				name="confirm_password"
				autocomplete="off"
				placeholder=" "
				class="input"
				required
			/>
			<label for="" class="label"><span> Confirm Password </span></label>
		</div>
		<div class="input-box btn">
			<button class="btn-grad" type="submit">Submit</button>
		</div>
	</form>
</div>
