<link rel="stylesheet" href="/css/user_sign_in.css" />

<div class="form-container">
	<h3 class="form-heading"><%= title %></h3>
	<form id="login" action="/users/create-session" method="post">
		<div class="input-box">
			<!-- autocomplete="off" Removed from the input -->
			<input
				type="email"
				name="email"
				placeholder=" "
				class="input"
				required
			/>
			<label for="" class="label"><span> Enter Email </span></label>
		</div>
		<div class="input-box">
			<input
				type="password"
				name="password"
				placeholder=" "
				class="input"
				required
			/>
			<label for="" class="label"><span> Enter Password </span></label>
		</div>
		<div class="input-box btn">
			<button class="btn-grad" type="submit">Login</button>
		</div>
	</form>
	<a href="/users/auth/google" class="google-login">
		<img src="/images/google-logo.png" alt="Sign in with Google" />
		Continue With Google
	</a>
</div>
