.friends-container {
	padding: 0;
	margin-top: 5rem;
	width: 100%;
	height: 100%;
	h2 {
		margin: 0 0 1rem 0;
	}
	section {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background-color: var(--logo-color);
		gap: 2rem;
		flex-wrap: wrap;
		padding: 5%;
		border-radius: 10px;
		.card {
			cursor: pointer;
			width: 30%;
			min-width: 300px;
			background-color: #88eef7;
			padding: 3%;
			border-radius: 7px;
			box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.3);
			margin-bottom: 2%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			gap: 1rem;
			word-break: break-all;
			word-wrap: break-word;
			&:hover {
				background-color: #5cecf9;
			}
			img {
				border-radius: 50%;
				width: 70px;
				height: 70px;
				padding: 0;
				margin: 0;
				cursor: pointer;
				-o-object-fit: cover;
				-o-object-position: center;
				object-fit: cover;
				object-position: center;
				aspect-ratio: 1/1;
			}
			p {
				font-size: 1rem;
				font-weight: 500;
				color: var(--logo-color);
				text-align: justify;
				margin: 0;
				word-break: break-all;
				word-wrap: break-word;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.friends-container {
		section {
			.card {
				width: 100%;
				min-width: 100%;
			}
		}
	}
}
