#home-container {
	display: flex;
	width: 100%;
	#feed-posts {
		width: 70%;
		padding: 10px;
	}
	#user-friends {
		width: 30%;
		padding: 50px;
		border-left: 1px solid var(--logo-color);
		height: 100%;
	}
}
#welcome-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	transition: all 0.5s linear;
	margin-top: 6rem;
	#intro-1 {
		max-width: 400px;
		min-width: 350px;
		max-height: 450px;
		min-height: 350px;
		margin-left: 4rem;
		object-fit: cover;
		-o-object-fit: cover;
		-o-object-position: center;
		object-position: center;
		aspect-ratio: 1/1;
		border-radius: 20px;
		transition: all 0.5s linear;
		margin: auto;
	}
	.wrapper {
		position: relative;
		width: 60%;
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		word-break: break-all;
		overflow-wrap: break-word;
		word-wrap: break-word;
		max-width: 800px;
		min-width: 500px;
		max-height: 600px;
		min-height: 500px;
		margin: auto;
		padding: auto;
		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			max-width: 800px;
			min-width: 500px;
			max-height: 600px;
			min-height: 500px;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;
		}
		#text-animation-header {
			font-size: 3vw;
			font-weight: bold;
			color: var(--logo-color);
			text-shadow: 0 0 2px var(--logo-color);
			overflow: hidden;
			border-right: 0.15em solid var(--logo-color);
			white-space: nowrap;
			margin: 0 auto;
			letter-spacing: 0.15em;
			word-break: break-all;
			word-wrap: break-word;
			overflow-wrap: break-word;
			font-family: "Source Code Pro", monospace;
			animation: blink 0.5s step-end infinite;
		}
		@keyframes blink {
			from,
			to {
				border-color: transparent;
			}
			50% {
				border-color: var(--logo-color);
			}
		}
	}
}

@media screen and (max-width: 914px) {
	#welcome-container {
		margin-top: 10rem;
		flex-direction: column;
		#intro-1 {
			width: 100%;
			height: auto;
			max-width: 600px;
			min-width: 400px;
			max-height: 450px;
			min-height: 350px;
		}
		.wrapper {
			width: 100%;
			max-height: 300px;
			margin-top: 3rem;
			max-width: 900px;
			svg {
				width: 100%;
				max-height: 300px;
				max-width: 900px;
			}
		}
	}
}

@media screen and (max-width: 535px) {
	#welcome-container {
		#intro-1 {
			width: 100%;
			height: auto;
			max-width: 600px;
			min-width: 400px;
			max-height: 350px;
		}
		.wrapper {
			min-height: 300px;
			min-width: 50px;
			height: auto;
			svg {
				min-width: 50px;
				min-height: 300px;
				height: auto;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	#welcome-container {
		margin-top: 18rem;
		#intro-1 {
			width: 10%;
			min-width: 250px;
		}
		.wrapper {
			max-width: 300px;
			svg {
				max-width: 300px;
				min-height: 200px;
				margin-top: 20%;
			}
		}
	}
}
