@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
h3 {
	font-size: 1rem;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	letter-spacing: 0.1rem;
	word-spacing: 0.2rem;
	background-color: #d4fff7;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	width: 10%;
	text-align: center;
	margin: 130px auto;
	padding: 5px;
}
#details {
	width: 50%;
	height: 200px;
	flex-direction: column;
	margin: 0 auto;
	font-size: 1rem;
	font-family: "Fredoka", sans-serif;
	letter-spacing: 0.1rem;
	word-spacing: 0.2rem;
	width: 50%;
	text-align: start;
	padding-left: 30%;
	p {
		span {
			color: #00547a;
		}
	}
	.btn-grad {
		background-image: linear-gradient(
			to right,
			#1fa2ff 0%,
			#12d8fa 51%,
			#1fa2ff 100%
		);
		padding: 15px 45px;
		font-family: "Fredoka", sans-serif;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		word-spacing: 0.2rem;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
		border-radius: 10px;
		display: block;
		border: none;
		cursor: pointer;
		margin: auto;
		margin-top: 30px;
		&:hover {
			background-position: right center; /* change the direction of the change here */
			color: #fff;
			text-decoration: none;
		}
	}
}
