<div
	class="mail-container"
	style="
		width: 47vw;
		height: auto;
		background-color: #9af7ff;
		border-radius: 30px;
		padding: 3%;
		padding-left: 5%;
		padding-right: 5%;
		font-size: 1rem;
		font-weight: 500;
		word-spacing: 0.1rem;
	"
>
	<p
		style="
			text-align: left;
			color: #00547a;
			font-family: sans-serif;
			word-break: break-all;
			overflow-wrap: break-word;
		"
	>
		Hi <strong><%= user.name %></strong>,
	</p>
	<p
		style="
			text-align: left;
			color: #00547a;
			font-family: sans-serif;
			word-break: break-all;
			overflow-wrap: break-word;
		"
	>
		Welcome to <strong>The Social Book</strong>, your number one source of
		Social Media Website. We're dedicated in providing you the very best of
		<strong>Content Creation & Sharing Experience</strong>, with an emphasis
		on Best <strong>Networking Experience</strong> by providing you a
		<strong>Community</strong> that cares for you.
		<br />
		<br />
		We hope you enjoy our product as much as we enjoy offering it to you. If
		you have any questions or comments, please don't hesitate to contact us.
		<br />
		<br />
		Yours Sincerely,
		<br />
		<strong>Ayush Kanduri</strong><br />
		<strong>Founder, CEO</strong><br />
	</p>
</div>
