<table
	style="
		background-color: #9af7ff;
		border-radius: 30px;
		padding: 3%;
		padding-left: 5%;
		padding-right: 5%;
		font-size: 1.2rem;
		font-weight: 500;
		word-spacing: 0.1rem;
	"
>
	<tr>
		<td>
			<p
				style="
					text-align: left;
					color: #00547a;
					font-family: sans-serif;
					word-break: break-all;
					overflow-wrap: break-word;
				"
			>
				Hi
				<strong style="font-size: 1.3rem"><%= token.user.name %></strong>,
				<br />
				below is the Link to Reset your Password.
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<br />
			<a
				style="
					text-align: left;
					color: #fafafa;
					font-family: sans-serif;
					word-break: break-all;
					background-color: #00547a;
					padding: 3%;
					border-radius: 7px;
					margin: auto;
					text-decoration: none;
				"
				href="<%= token.url %>"
			>
				Reset your Password
			</a>
		</td>
	</tr>
</table>
