<div
	class="mail-container"
	style="
		width: 47vw;
		height: auto;
		background-color: #9af7ff;
		border-radius: 30px;
		padding: 3%;
		padding-left: 5%;
		padding-right: 5%;
		font-size: 1rem;
		font-weight: 500;
		word-spacing: 0.1rem;
	"
>
	<p
		style="
			text-align: center;
			color: #00547a;
			font-family: sans-serif;
			word-break: break-all;
			overflow-wrap: break-word;
		"
	>
		Hi <strong><%= user.name %></strong>, your <strong>Profile</strong> has
		been <strong>Updated</strong>.
	</p>
	<p
		style="
			color: #9af7ff;
			word-spacing: 0.1rem;
			text-align: center;
			width: 19%;
			padding: 0.7rem;
			border-radius: 10px;
			background-color: #00547a;
			margin: auto;
			font-size: 1rem;
		"
	>
		The Social Book
	</p>
	<br />
</div>
