footer {
  background-color: var(--header-color);
  padding: 1% 0%;
  text-align: center;
  width: 100%;
  margin-top: auto;
  font-weight: 500; }
  footer p {
    font-size: 0.9rem; }
    footer p strong,
    footer p b {
      color: darkred; }
  footer .links {
    margin-top: 0.5rem; }
    footer .links a {
      text-decoration: none;
      color: var(--logo-color); }
      footer .links a:hover {
        color: darkred; }
