div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-color: var(--header-color);
  border-radius: 7px;
  padding: 3%;
  box-shadow: 0px 5px 5px rgba(92, 99, 105, 0.2);
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 5rem;
  word-break: break-all;
  word-wrap: break-word; }
  div.container i.fa-key {
    font-size: 30px;
    color: var(--logo-color); }
  div.container > :nth-child(3) {
    color: var(--logo-color);
    font-weight: 500; }
  div.container > :last-child {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    div.container > :last-child input[type="submit"] {
      background-color: var(--logo-color);
      color: var(--text-color);
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      display: block;
      margin-top: 15px;
      padding: 15px;
      width: 100%;
      cursor: pointer;
      outline: none; }
      div.container > :last-child input[type="submit"]:focus {
        outline: none; }
    div.container > :last-child .password {
      width: 100%;
      display: flex;
      flex-direction: row; }
      div.container > :last-child .password button {
        width: 10%;
        height: 40px;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 5px;
        background-color: var(--text-color);
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
        div.container > :last-child .password button:focus {
          outline: none; }
      div.container > :last-child .password input[type="password"],
      div.container > :last-child .password input[type="text"] {
        width: 90%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 1.5;
        font-family: var(--sub-heading-font-family);
        color: #555;
        outline: none;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
        div.container > :last-child .password input[type="password"]:focus,
        div.container > :last-child .password input[type="text"]:focus {
          outline: none; }

@media screen and (max-width: 500px) {
  div.container > :last-child .password button {
    font-size: 0.6rem;
    font-weight: bolder; } }
