footer {
  background-color: var(--header-color);
  padding: 2% 0%;
  text-align: center;
  width: 100%;
  margin-top: auto;
  font-weight: 500; }
  footer p {
    font-size: 0.8rem; }
    footer p a {
      color: darkred;
      text-decoration: none; }
    footer p strong {
      color: red; }
    footer p b {
      color: darkred; }
  footer .links {
    margin-top: 1rem; }
    footer .links a {
      padding-top: 2rem;
      text-decoration: none;
      color: var(--logo-color); }
      footer .links a:hover {
        color: darkred; }
