header {
  background-color: var(--header-color);
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2% 5%;
  padding-bottom: 1.5%;
  z-index: 5; }
  header h1 {
    font-size: 2.5rem;
    font-family: var(--logo-font-family);
    text-transform: capitalize;
    word-spacing: 0.2rem;
    line-height: 1.6;
    color: var(--logo-color);
    cursor: pointer; }
  header nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px; }
