.card {
  width: 100%;
  background-color: #88eef7;
  padding: 5%;
  border-radius: 7px;
  box-shadow: 0px 7px 5px rgba(92, 99, 105, 0.2);
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  word-break: break-all;
  word-wrap: break-word; }

.user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -o-object-fit: cover;
  -o-object-position: center;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1; }

#home-container {
  display: flex;
  transition: all 0.5s linear;
  margin-top: 6rem;
  position: relative;
  width: 100%; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px;
    margin-right: 5%; }
    #home-container #feed-posts h2 {
      margin-bottom: 2%; }
    #home-container #feed-posts #new-post-form .btn-grad {
      background-image: linear-gradient(to right, #1fa2ff 0%, #12d8fa 51%, #1fa2ff 100%);
      margin: 10px 0px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      display: block;
      border-radius: 10px;
      flex: 0 0 70%; }
      #home-container #feed-posts #new-post-form .btn-grad:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none; }
    #home-container #feed-posts #new-post-form .upload-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block; }
    #home-container #feed-posts #new-post-form input[type="file"],
    #home-container #feed-posts #new-post-form input[type="file"]::-webkit-file-upload-button {
      cursor: pointer; }
    #home-container #feed-posts #new-post-form .upload-wrapper input[type="file"] {
      cursor: pointer;
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0; }
    #home-container #feed-posts #new-post-form textarea {
      height: 100px;
      border: 1px solid var(--logo-color);
      border-radius: 7px;
      padding: 10px;
      resize: none;
      outline: none;
      font-family: var(--text-font-family);
      font-size: 1rem;
      color: var(--logo-color);
      font-weight: 500;
      flex: 1 0 70%; }
      #home-container #feed-posts #new-post-form textarea:focus {
        outline: none; }
    #home-container #feed-posts #new-post-form input:focus {
      outline: none; }
    #home-container #feed-posts #new-post-form .create-post-avatar {
      border: 1px solid var(--logo-color);
      flex-grow: 0; }
      #home-container #feed-posts #new-post-form .create-post-avatar:hover {
        filter: brightness(0.8);
        transition: 0.15s; }
  #home-container #user-friends {
    width: 30%;
    padding: 50px;
    border-left: 1px solid var(--logo-color);
    height: 100%; }
    #home-container #user-friends h2 {
      margin-bottom: 5%; }
    #home-container #user-friends .friend {
      justify-content: space-between;
      cursor: pointer;
      flex-wrap: nowrap; }
      #home-container #user-friends .friend a {
        font-size: 1rem;
        font-weight: 500;
        color: var(--logo-color);
        text-align: center;
        margin: 0;
        text-decoration: none;
        color: var(--logo-color);
        word-break: break-all;
        word-wrap: break-word; }
      #home-container #user-friends .friend:hover {
        background-color: #5cecf9; }

#welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  transition: all 0.5s linear;
  margin-top: 6rem; }
  #welcome-container #intro-1 {
    max-width: 400px;
    min-width: 350px;
    max-height: 450px;
    min-height: 350px;
    margin-left: 4rem;
    object-fit: cover;
    -o-object-fit: cover;
    -o-object-position: center;
    object-position: center;
    aspect-ratio: 1/1;
    border-radius: 20px;
    transition: all 0.5s linear;
    margin: auto; }
  #welcome-container .wrapper {
    position: relative;
    width: 60%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 800px;
    min-width: 500px;
    max-height: 600px;
    min-height: 500px;
    margin: auto;
    padding: auto; }
    #welcome-container .wrapper svg {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 800px;
      min-width: 500px;
      max-height: 600px;
      min-height: 500px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1; }
    #welcome-container .wrapper #text-animation-header {
      font-size: 3vw;
      font-weight: bold;
      color: var(--logo-color);
      text-shadow: 0 0 2px var(--logo-color);
      overflow: hidden;
      border-right: 0.15em solid var(--logo-color);
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 0.15em;
      word-break: break-all;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-family: "Source Code Pro", monospace; }
    #welcome-container .wrapper .blink {
      animation: blink 0.5s step-end infinite; }

@keyframes blink {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: var(--logo-color); } }
    #welcome-container .wrapper .fade {
      animation: fadeIn 1s ease-in; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 1000px) {
  #home-container #user-friends .friend {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 13%; }
    #home-container #user-friends .friend a {
      flex: 1 0 100%; } }

@media screen and (max-width: 914px) {
  #welcome-container {
    margin-top: 10rem;
    flex-direction: column; }
    #welcome-container #intro-1 {
      width: 100%;
      height: auto;
      max-width: 600px;
      min-width: 400px;
      max-height: 450px;
      min-height: 350px; }
    #welcome-container .wrapper {
      width: 100%;
      max-height: 300px;
      margin-top: 3rem;
      max-width: 900px; }
      #welcome-container .wrapper svg {
        width: 100%;
        max-height: 300px;
        max-width: 900px; } }

@media screen and (max-width: 700px) {
  #home-container #feed-posts {
    width: 100%;
    margin-right: 0; }
  #home-container #user-friends {
    display: none; } }

@media screen and (max-width: 535px) {
  #home-container #feed-posts #new-post-form {
    flex-direction: column;
    margin-bottom: 50px; }
    #home-container #feed-posts #new-post-form .upload-wrapper input[type="file"] {
      width: 100%; }
    #home-container #feed-posts #new-post-form .btn-grad {
      width: 100%; }
    #home-container #feed-posts #new-post-form .create-post-avatar {
      width: 100px;
      height: 100px; }
    #home-container #feed-posts #new-post-form textarea {
      width: 100%;
      height: 220px; }
  #welcome-container #intro-1 {
    width: 100%;
    height: auto;
    max-width: 600px;
    min-width: 400px;
    max-height: 350px; }
  #welcome-container .wrapper {
    min-height: 300px;
    min-width: 50px;
    height: auto; }
    #welcome-container .wrapper svg {
      min-width: 50px;
      min-height: 300px;
      height: auto; } }

@media screen and (max-width: 450px) {
  #welcome-container #intro-1 {
    display: none; }
  #welcome-container .wrapper {
    width: 100%;
    max-width: 300px;
    height: 200px;
    min-height: 150px;
    aspect-ratio: 10/8; }
    #welcome-container .wrapper svg {
      aspect-ratio: 10/8;
      height: 200px;
      min-height: 150px;
      width: 100%; }
      #welcome-container .wrapper svg g {
        width: 100%; }
        #welcome-container .wrapper svg g path {
          width: 100%; } }
