@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");
* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none; }

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  background-color: #b8fff9; }
