h3 {
	font-size: 1rem;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	letter-spacing: 0.1rem;
	word-spacing: 0.2rem;
	background-color: #d4fff7;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	width: 10%;
	text-align: center;
	margin: 130px auto;
	padding: 5px;
}
p#userName,
p#userEmail {
	font-size: 1rem;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	letter-spacing: 0.1rem;
	word-spacing: 0.2rem;
	width: 50%;
	text-align: center;
	margin: auto;
	padding: 5px;
	border: 2px solid red;
}
