.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .form-container a.google-login {
    transition: all 0.15s ease-in-out;
    border: 1px solid var(--logo-color);
    border-radius: 5px;
    text-decoration: none;
    color: var(--logo-color);
    padding: 1.3rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--sub-heading-font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem; }
    .form-container a.google-login:hover, .form-container a.google-login:focus, .form-container a.google-login:active, .form-container a.google-login:visited, .form-container a.google-login:link {
      transition: all 0.15s ease-in-out;
      border: 1px solid var(--logo-color);
      border-radius: 7px;
      color: #fff;
      text-decoration: none;
      padding: 1.3rem;
      color: var(--logo-color);
      font-size: 1rem;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem; }
    .form-container a.google-login:hover {
      background-color: var(--background-color); }
    .form-container a.google-login img {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 1rem;
      object-fit: cover;
      object-position: center;
      -o-object-fit: cover;
      -o-object-position: center;
      aspect-ratio: 1/1; }

@media screen and (max-width: 800px) {
  .form-container {
    width: 100%;
    margin-top: 8rem; } }
